/* body{
    margin: 0;
    padding: 0;
    background-color: rgb(63, 56, 56);
    color: white;
} */
.help_whole_container{
    padding: 30px;
    font-size: 20px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
.help_whole_container h3{
    margin-top: 50px;
    margin-bottom: 10px;
}