{% extends 'base/main.html' %}
{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/sub/terms.css' %}"> {% endblock %}
{% block content %}

<div class="about_container">
    <div>
        <div class="whole_container">
            <div class="section_heading">
                <h1>About InstantFix </h1>
                <p>The original <strong>InstantFix</strong> was found in 2019,
                    The business has stayed true to a set of fundamental principles that are based on delivering high-caliber services at reasonable costs.

                Today InstantFix is a large family of certified Ac mechanics who 
                are willing to provide quality service to every one who need it 
                </p>
                <div class="small_h1">
                    <h1>Service available to :</h1>
                    <h1>Aluava,</h1>
                    <h1>Kalamassery,</h1>
                    <h1>Edappally,</h1>
                    <h1>kaloor,</h1>
                    <h1>Vytila,</h1>
                    <h1>Kadavanthra,</h1>
                    <h1>Ravipuram,</h1>
                    <H1>Thevara,</H1>
                    <h1>Menaka,</h1>
                    <h1>Fort Kochi,</h1>
                    <h1>Chittoor,</h1>
                    <h1>Vadathala,</h1>
                    <h1>Vennala,</h1>
                    <h1>Kakkanad,</h1>
                    <h1>Thripunithara,</h1>
                    <h1>Kundannoor,</h1>
                    <h1>Vypin,</h1>
                    <h1>Mulavukad,</h1>
                    <h1>Elamaviara,</h1>
                    <h1>Thammanam,</h1>
                    <h1>Varapuzha,</h1>
                    <h1>Angamali,</h1>
                    <h1>Maradu</h1>
                    <style>
                        .small_h1>h1{
                            font-size: 20px;
                        }
                    </style>
                </div>
                
            

            </div>
            <section>
                <!-- <h2>TABLE OF CONTENTS</h2>
              
                <h3><a href="">Questions</a></h3> -->



                <h2>Our Service Philosophy</h2>
                <p>Our whole focus is on offering the best possible client service.
                    We provide a kind voice, a cordial call, and an easy process.
                    We prioritise your emergency and will schedule service as soon as we can to take care of your issue. They treat your home with care and consideration, just like we do.
                    We will provide you with a fair evaluation of the state of your air conditioner and the estimated cost of maintenance. You don't have to be concerned about price increases as the task progresses because our prices are flat-rate and upfront.

                </p>
                <h2>Our Code of &nbsp;Values</h2>
                <h3>"EVEYTHING WE DO IS SHAPED BY OUR VALUES."
                </h3>
                <h3>Respect</h3>
                <p>treating people the way we want to be treated.
The speaker places a high value on listening with the intention of understanding what is being said.
delivering prompt responses.
Speaking politely and respectfully without using any foul language or irony.
recognising that each person is correct from their own perspective.
                </p>

                <h3>Integrity</h3>
                <p>
                    only entering into commitments those we are able, willing, and want to uphold.
notifying all parties involved as soon as possible of any potential violations of agreements.
If something is not working, look to the system for correction and provide every option.
Being above the line in terms of behaviour. communicating honestly and purposefully If we disagree or do not understand, we should clarify. Never say anything about someone that we wouldn't say to them or about themselves.

                </p>
                <h3>Customer Focus</h3>
                <p>maximisation of both internal and external client loyalty.
                    putting forth our best effort to recognise and comprehend the needs of the consumer in any circumstance.
                </p>
                <h3>Having Fun in the Process</h3>
                <p>
                    We are always attentive to what each other and our clients have to say.
                    We also make an effort to provide our consumers with prompt service and upfront, transparent agreements. At InstantFix, these principles and the actions that follow them serve as the cornerstone of our service, our philosophy, and every day activities.
                    
                </p>
                
                
            </section>
        </div>
    </div>
</div>

{% endblock %}