{% extends 'base/main.html' %}
{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/sub/terms.css' %}"> {% endblock %}
{% block content %}

<div class="about_container">
    <div>
        <div class="whole_container">
            <div class="section_heading">
                <h1>About InstantFix </h1>
                <p>The original <strong>InstantFix</strong> was found in 2019,
                the company has remained committed to a set of core values that are 
                rooted in performing quality work at honest prices.

                Today InstantFix is a large family of certified Ac mechanics who 
                are willing to provide quality service to every one who need it 
                </p>
                <div class="small_h1">
                    <h1>Service available to :</h1>
                    <h1>Aluava,</h1>
                    <h1>Kalamassery,</h1>
                    <h1>Edappally,</h1>
                    <h1>kaloor,</h1>
                    <h1>Vytila,</h1>
                    <h1>Kadavanthra,</h1>
                    <h1>Ravipuram,</h1>
                    <H1>Thevara,</H1>
                    <h1>Menaka,</h1>
                    <h1>Fort Kochi,</h1>
                    <h1>Chittoor,</h1>
                    <h1>Vadathala,</h1>
                    <h1>Vennala,</h1>
                    <h1>Kakkanad,</h1>
                    <h1>Thripunithara,</h1>
                    <h1>Kundannoor,</h1>
                    <h1>Vypin,</h1>
                    <h1>Mulavukad,</h1>
                    <h1>Elamaviara,</h1>
                    <h1>Thammanam,</h1>
                    <h1>Varapuzha,</h1>
                    <h1>Angamali,</h1>
                    <h1>Maradu</h1>
                    <style>
                        .small_h1>h1{
                            font-size: 20px;
                        }
                    </style>
                </div>
                
            

            </div>
            <section>
                <!-- <h2>TABLE OF CONTENTS</h2>
              
                <h3><a href="">Questions</a></h3> -->



                <h2>Our Service Philosophy</h2>
                <p>Our only priority is to provide the highest level of customer service.
                    We offer a warm voice, a courteous call, and a convenient process.
                    We make your emergency a priority for us, scheduling service as 
                    quickly as possible to resolve your problem. We are the same way-they 
                    treat your home with respect and consideration. We will offer you 
                    a fair assessment of your plumbing situation and how much it will 
                    cost to hanle it. Our prices are flat-rate and upfront, so you don't 
                    have to worry about inflating prices as the job goes on.
                </p>
                <h2>Our Code of &nbsp;Values</h2>
                <h3>"EVEYTHING WE DO IS SHAPED BY OUR VALUES."
                </h3>
                <h3>Respect</h3>
                <p>Treating others as we would like to be treated.
                    Listening with the intent to understand what is 
                    being said is important to the speaker.
                    Responding in a timely fashion.Speaking calmly and 
                    respectfully, without profanity or sarcasm.
                    Acknowledging everyone as right from their own prespective.
                </p>

                <h3>Integrity</h3>
                <p>
                    Making only agreements we are willing, able and intend to keep.
                    Communicating any potentially broken agreements at the first 
                    appropriate oppertunity to all practies conncerned.
                    Looking to the system for correction and proposing all possible
                    solutions if something is not working.
                    Operating in a responsible manner-'Above the line'. Communicating openly
                     and with purpose. Asking clarifying questions if we disagree or do not 
                     understand. Never saying anything about anyone that we would not say to 
                     him or her.
                </p>
                <h3>Customer Focus</h3>
                <p>Continuously striving to Maximize internal and external 
                    customer loyalty.
                    Making our best effort to understand and appreciate the 
                    customers needs in every situation.
                </p>
                <h3>Having Fun in the Process</h3>
                <p>
                    We always listen carefully to each other and our customers.
                    We also endeavor to respond quickly to our customers needs 
                    with open, upfront commitments. These values and practices 
                    based on them are the foundation of our service, out philosophy,
                    and our daily lives
                    at InstantFix.
                </p>
                
                
            </section>
        </div>
    </div>
</div>

{% endblock %}