{% extends 'base/main.html' %}
{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/sub/form.css' %}"> {% endblock %}
{% block content %}

<div class="form_container">
    <form action="" method="post" class="address_form">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit" class="submitBtn" id="order_popup">
        <span>By submiting the form You are agreeing to our <a href="{% url 'terms_and_conditions' %}">terms </a> and <a href="{% url 'privacy_policy' %}">privacy policy</a></span>
    </form>
</div>

<script>

document.getElementById('order_popup').addEventListener('click', function(){
    window.alert('Thank you for your order, We will contact you in a minute')
})

</script>

{% endblock content%}