{% extends 'base/main.html' %}

{% load static %}

{% block title %} home page {% endblock title%}
{% block styles %}<link rel="stylesheet" href="{% static 'css/sub/indexandmain.css' %}">{% endblock %}

{% block content %}

<div class="order_container">
    
    <div class="orders_container_a">
        <div class="descri">

            <h1>Your Local Experts for AC Installation and Repair</h1>
            <div class="underline"></div>
            <p>We have been offering best air conditioner installation, repair, 
                 maintenance, and replacement services with <strong style="color: green;">  3-month warranty</strong>. 
                 We have a Kochi base and serve the entire Ernakulam region.
            </p>

        </div>
        <div class="order_a">
            <div class="order">
                <a href="{% url 'address' %}"> Order Service </a>
            </div>
            
            <!-- <div class="order">
                <a href="{% url 'address' %}"> Order Service </a>
            </div> -->
            
        </div>
        <div class="order_by_phone">
            <h3>Call Us: 6526845524</h3>
        </div>
        
    </div>
    <div class="orders_container_b" >
        <div class="index_rating_container">
            <div class="index_rating">
                <p>Overall Rating &nbsp;&nbsp;<span class="fas fa-star"></span> &nbsp;&nbsp;<strong class="green_strong">{{average_rating}} </strong></p>
            </div>
            <div class="rate_now">
                <a href="{% url 'order_status' %}"><strong> Rate Us</strong></a>
            </div>
            
        </div>
        <div class="order_container_b_mask"></div>
        
        

    </div>
</div>
<style>
    .orders_container_b{
        background-image: url('{% static "images/acrman.jpg" %}');
        width: 60%;
        height: 640px;
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    @media only screen and (max-width: 800px){
            .orders_container_b{
                width:100%;
                box-sizing: border-box;
                height: 640px;
            }
        }
        @media only screen and (max-width: 600px){
            .orders_container_b{
                width:100%;
                box-sizing: border-box;
                height: 700px;
            }
        }
    
</style>
<!-- +++++++++++++++++++++++++++++++++++++++++++ -->
<div class="service_container" id="services">
    <div class="banner_container">
        <div class="banner1">
            <img src="{% static 'images/ac-repair2.jpg' %}" alt="">
            <div class="text_container">
                
                    <h1>Ac Installing</h1>
                    <p>The process of installing an AC might be challenging.
                        Your AC will be installed correctly if you hire a professional to do it. 
                        For this, InstantFix has trained personnel. 
                    </p>
                
            </div>
            <div class="text__container"></div>
        </div>
        <div class="banner2">
            <img src="{% static 'images/acreplacing.webp' %}" alt="">
            <div class="text_container">
                <h1>Ac Repairing</h1>
                <p>Many air conditioners have a 20+ year lifespan.
                    Similar to this, many units only last ten years on average.
                    To keep an AC in good working order, it must be serviced by a reliable AC repair company.</p>
            </div>
            <div class="text__container"></div>
        </div>
        <div class="banner3">
            <img src="{% static 'images/acreplace.jpg' %}" alt="">
            <div class="text_container">
                <h1>Ac servicing</h1>
                <p>Your air conditioner is more likely to lose roughly 5% of its total efficiency yearly without adequate maintenance.
                    We offer the most competent professionals for this.
                </p>
            </div>
            <div class="text__container"></div>
        </div>
        <div class="banner4">
            <img src="{% static 'images/acgas.jpg' %}" alt="">
            <div class="text_container">
                
                <h1>Ac Gas Filling</h1>
                <p>The procedure for refuelling AC gas is a little challenging.
                    To replace your ac gas, always use a qualified technician.
                </p>
            </div>
            <div class="text__container"></div>
        </div>
    </div>
    <div class="banner_container_b">
        <h2>Service available to :</h2>
        <div class="small_h1">
            
            <h1>Aluava,</h1>
            <h1>Kalamassery,</h1>
            <h1>Edappally,</h1>
            <h1>kaloor,</h1>
            <h1>Vytila,</h1>
            <h1>Kadavanthra,</h1>
            <h1>Ravipuram,</h1>
            <H1>Thevara,</H1>
            <h1>Menaka,</h1>
            <h1>Fort Kochi,</h1>
            <h1>Chittoor,</h1>
            <h1>Vadathala,</h1>
            <h1>Vennala,</h1>
            <h1>Kakkanad,</h1>
            <h1>Thripunithara,</h1>
            <h1>Kundannoor,</h1>
            <h1>Vypin,</h1>
            <h1>Mulavukad,</h1>
            <h1>Elamaviara,</h1>
            <h1>Thammanam,</h1>
            <h1>Varapuzha,</h1>
            <h1>Angamali,</h1>
            <h1>Maradu</h1>
            <style>
                .small_h1>h1{
                    font-size: 20px;
                }
            </style>
        </div>
        <h2>What We Do</h2>
        <div class="underline"></div>

        <p>We take great pride in the fact that our cities have come to rely on us, and we work hard to maintain that status by providing top-notch services.
            You can call us with confidence knowing that we genuinely care about the services we provide. We will keep our word and complete the task properly. We promise to carry out tasks with professionalism and craftsmanship.
             Please get in touch with us within ten days if you think the job was not completed properly.
       </p>
       
        
    </div>

</div>



<div id="whyUs">
    <div class="why_container">
        <div class="why_box_header">
            <h2>Great Resions To Choose Us</h2>
            <div class="underline"></div>
            
        </div>
        
        <div class="why_box">
            <div>
                <h2><i class="fa-solid fa-map-location-dot"></i></h2>
                <h3>Owned and run locally</h3>
                <p>We take great pride in the fact that our cities have come to rely on us, and we work hard to maintain that status by providing top-notch services.
                    You can call us with confidence knowing we are the best in the business.
                
                </p>
            </div>

            <div>
                <h2><i class="fa-solid fa-screwdriver-wrench"></i></h2>
                <h3>Guaranteed Parts of Workmanship </h3>
                <p>We will keep our word and complete the task properly. We provide services in a proficient, tidy manner.
                    If you think the job wasn't done properly, get in touch with us within ten days.
 
                </p>
            </div>
        
        
            <div>
                <h2><i class="fa-sharp fa-solid fa-shirt"></i></h2>
                <h3> Uniformed Professionals </h3>
                <p>You may anticipate nice, polite, respectful, skilled, and educated uniformed professionals. We arrive on time, dressed neatly and efficiently for work.
                     When you see our cheerful serviceman standing at the door, ready to do the job, you won't need to question who is there.
                    
                    
                </p>
            </div>

            <div>
                <h2><i class="fa-solid fa-clock"></i></h2>
                <h3> Never be charged for overtime </h3>
                <p>Every day and at any time, we have the same price. As a result, you are free to contact us on a Friday evening, Saturday afternoon, or Sunday evening without incurring any additional charges.
                
                </p>
            </div>

            <div>
                <h2><i class="fa-sharp fa-solid fa-indian-rupee-sign"></i></h2>
                <h3>Upfront Pricing</h3>
                <p>In order to maintain control over your own Repairing system, you get to agree on a fee before we begin any service.
                     Additionally, you may feel secure knowing that our mechanics will thoroughly describe their services before beginning the job.
                </p>
            </div>
        
        
            <div>
                <h2><i class="fa-sharp fa-solid fa-handshake"></i></h2>
                <h3> Outstanding Customer Service</h3>
                <ul>
                    <li>We leave your home as clean as we found it.</li>
                    <li>We treat you respectfully.</li>
                    <!-- <li>We are available for emergency services, even nights and weekends!</li> -->
                    <li>We work around your schedule.</li>
                    <li>We provide upfront pricing.</li>
                </ul>
            </div>
            <div>
                <h2><i class="fa-solid fa-calendar-days"></i></h2>
                <h3>Flexible Service Options </h3>
                <p>While you want things swiftly and efficiently mended, you also don't want to feel taken advantage of. 
                    We ensure that you have options so you may select the one that is best for you.
                     <!-- We bring the expertise, but you’re in control. -->
                </p>
            </div>
            <div>
                <h2><i class="fa-solid fa-clock"></i></h2>
                <h3>Appointment Times That Are Convenient</h3>
                <p>appointment times that are flexible and work with your schedule!
                    You receive a fixed appointment time when you call instantFix, allowing you to arrange your day and feel at ease.
                </p>
            </div>
        </div>
            
    </div>
</div>





<!-- ?????????????/ customer rating start -->

<div class="why_box_header">
    <h2>Ratings</h2>
    <div class="underline"></div>
    
</div>

<div class="rating_main_container">
    {% for rating in ratings %}
    <div class="rating_container">
        <div>
            <div class="rating_item1"><img src="{% static 'images/avathar.svg' %}" alt="profile photo"></div>
            <div class="rating_item2">
                <strong style = "text-transform:capitalize;">{{rating.order.name}}</strong>
            </div>
        </div>

        <div>
            <div class="rating_item3">
                <div class="divided1"><strong>{{rating.rated}}</strong></div>
                <div class="divided3"></div>
                <div class="divided2"><strong>5</strong></div>
            </div>
            <div class="rating_item6">
                <div class="fas fa-star"></div>
            </div>
            <div class="rating_item4">
               <p>. {{rating.created|timesince}} ago</p>
            </div>

        </div>

        <div>
            <div class="rating_item5">
                <div>
                    <p>{{rating.body}}
                    </p>
                </div>
            </div>

        </div>

    </div>
    {% endfor %}
    
</div>

<!-- <div class="why_box_header">
    <h2>Question And Answers</h2>
    <div class="underline"></div>
    
</div> -->

<div class="form_container">
    <h2> Ask Your Questions</h2>
   
</div>



<!-- ========================================== -->
<div class="rating_main_container">
    {% for answer in answers %}
    <div class="rating_container">
      

        <div>
            <div class="rating_item5">
                <span style="font-size: 20px;">{{answer.name }}:</span><br><br>
                <span>Question:&nbsp;{{answer.question}}</span> <br> <br>
                <div>
                <span>Answer:&nbsp;{{answer.answer}}
                </span>
                </div>
            </div>

        </div>

    </div>
    {% endfor %}
    
</div>
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++= -->

{% endblock content %}