{% extends 'base/main.html'%}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/sub/orderpage.css' %}"> 
<link rel="stylesheet" href="{% static 'css/sub/form.css' %}"> 
{% endblock %}
{% block content %}

<div class="center_span"><span><h2>Recent Orders </h2></span></div>
{% if staff is not None %}
<div class="profile_order"><a href="{% url 'staff_profile' staff.id %}">Profile</a></div>

{% endif %}
    <div class="open_recent_container">
        <div>
            <div class="open">
                <span class="" id="span_open"><h2 id="orders_open">Open Orders</h2>
                    <h2 class="for_big_only">open orders </h2>
                </span>
                <div id="open_display">
                    {% for order in open_orders%}
                    <div class="">
                        <span>First order {{order.created|timesince}} ago.</span>
                        {% if order.order_no == 1 %}
                        <span>Renewed {{order.updated|timesince}} ago.</span>
                        {% else %}
                        {% endif %}
                        <h3>Customer Name: {{order.name}}</h3>
                        <h3>Customer Phone: {{order.phone}}</h3>
                        
                        <address>
                            <p><span>Address: </span> {{order.address}}</p>
                        </address>
                        {% if order.problem is not None%}
                            <p>{{order.problem}}</p>
                            {% endif %}
                        {% if order.accured %}
                        
                        {% else %}

                        {% if order.order_no == 1 %}
                            <h3>This is the first order of the customer</h3>
                        {% else%}
                            <h3><span>This is the {{order.order_no}}th order of this customer </span></h3>
                        {% endif %}
                        <form action="" method="post">
                            {% csrf_token %}
                            <input type="text" value="{{order.id}}" name="order" style="display: none;">
                            <input type="submit" class="submitBtn" value="Accept order">
                        </form>
                        {% endif %}
                    </div>
                    {% endfor %}
                    
                   
                </div>
            </div>
            <div class="central_ling"></div>
            <div class="recent">
                <span class="initial_style" id="span_all"><h2 id="orders_all">All Orders</h2> <h2 class="for_big_only">accepted orders</h2></span>
                <div id="all_display">
                    {% for order in orders %}
                    {% if order.accured %}
                    <div class="">
                        <span>{{order.created|timesince}} ago.</span>
                        <h3>Customer name: {{order.name}}</h3>
                        <h3>Customer phone: {{order.phone}}</h3>
                        
                        <address>
                            <p><span>Address: </span> <br>{{order.address}}</p>
                        </address>
                        <div>
                            {% if order.problem is not None%}
                            <p>{{order.problem}}</p>
                            {% endif %}
                        </div>
                        {% if order.order.order_no == 1 %}
                            <h3>This is the first order of the customer</h3>
                        {% else%}
                            <h3><span>This is the {{order.order_no}}th order of this customer </span></h3>
                        {% endif %}
                        <h4>this order is accepted by {{order.accured_by}}</h4>
                    
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    




{% endblock content %}