{% extends 'base/main.html' %}
{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/sub/terms.css' %}"> {% endblock %}
{% block content %}

<div class="whole_container">
    <div class="section_heading">
        <h1>Terms Policy</h1>
        <span>Effective date: November 20, 2022</span>
        <p>Thank you for visiting this Site, which is woned and operated by
            <strong>InstantFix</strong>.
        
        </p>

    </div>
    <section>
        <h2>TABLE OF CONTENTS</h2>
        <h3> <a href="#33">Scope of This Policy</a></h3>
        <h3> <a href="#34">Your Consent</a></h3>
        <h3> <a href="#35">Our Terms of Use </a></h3>
        <h3> <a href="#36">Consent to Other Agreements</a></h3>
        <h3><a href="#37">Trademarks</a></h3>
        <h3><a href="#38">Responsibility for User-Generated Content Posted on or Through this Site</a></h3>
        <h3><a href="#39">Removal of Content</a></h3>
        <h3><a href="#40">Your Feedback</a></h3>
        <h3><a href="#41">Your Obligations</a></h3>
        <h3><a href="#42">Disclaimers</a></h3>
        <h3><a href="#43">Limatation of Liability</a></h3>
        <h3><a href="#44">Hyper-Links to Other Websites</a></h3>
        <h3><a href="#45">Modification and Discontinuation</a></h3>
        <h3><a href="#46">Waiver</a></h3>
        <h3><a href="#47">Severability</a></h3>
        <h3><a href="#48">Governing Law and Jurisdiction</a></h3>
        
        

        <h2 id="33">Scope of This Policy</h2>
        <p>This web-based security policy (this "Policy") applies just to data gathered through InstantFix.
            It doesn't make a difference to outsider stages, for example, sites possessed virtual entertainment sites,
            merchant pages, sites of different partnerships, restricted responsibility organizations, and so on or to 
           InstantFix-claimed sites or other InstantFix claimed stages on which it isn't posted. It additionally doesn't 
           matter to data gathered through different channels, like via telephone or face to face. By introducing any 
           outsider application, you are approving such outsider application to play out the activities and additionally
            share with the outsider application the data conveyed to [InstantFix], or mentioned from [InstantFix] to play
            out the activities as well as offer with the outsider application the data imparted to [InstantFix], or 
           mentioned from [InstantFix]. InstantFix will send that data through the outsider application, which will then go 
           through the web. [InstantFix] will not be considered answerable for any spread, use, abuse, and additionally
            revelation of the client's data through utilization of this or any outsider application. A portion of the data 
           we gather through this Site might be "individual data" — data that distinguishes you by and by, alone or in blend 
           with other data accessible to us. Other data might be non-by and by recognizable, for example, data gathered by treats.
            This Arrangement might be enhanced or corrected every once in a while by extra security sees ("Protection Notification"),
            gave at the time we gather your data. For instance, certain pages of this Site might contain Security Notification giving
            more insights regarding the data we gather on those specific pages, why we really want that data, and decisions you might 
           have about the manners in which we utilize that data. In different cases, explicit Security Notification might be expected 
           to agree with the protection laws of one of the nations, areas, or states in which we carry on with work.
           
        </p>

        <h2 id="34">Your Consent</h2>
        <p>By utilizing this Site, you are consenting to the assortment, use, divulgence, and move of your data as depicted in this
            Strategy (and any Protection Notification that concern you). In the event that you don't agree to the assortment, use,
            revelation, and move of your data as depicted in this Approach (and any Security Notification that concern you), 
           you may not utilize this Site. In the event that you have inquiries concerning this Arrangement, or any Security
            Notice, if it's not too much trouble, get in touch with us utilizing the data gave in the part beneath.
        
        </p>
        <h2 id="35">Our Terms of Use </h2>
        <p>
            his Approach is important for the Terms of Purpose that administer your utilization of this Site. A connection
            to our Terms of Purpose is given at the lower part of each page of this Site.
           
            
        </p>
        <h2 id="36">Your Choices</h2>
        <p>
            All in all. Your right to decide how we collect, use, and disclose your information is something we respect. This Policy outlines some of your options,
             including the option to refuse to receive "cookies." At the time and on the page where you enter your information, we could ask you to express 


             No tracking of mechanisms This Policy must address how we handle any "Do Not Track ('DNT')
              signal" sent by your browser under Indian legislation. We can not yet provide any assurance that
               we will honour DNT signals due to the rapidly evolving nature of technology and the lack of consensus among industry participants understanding the meaning of DNT signals.
             
             
               Prior Expressions of Preference. Prior preferences you've made about how we utilise your information can be changed.
                Please get in touch with us using the details in the contact section below if you ever want to be removed from 
                our mailing lists.
        </p>

        <h2 id="37">This Policy May Change </h2>      
        <p>By posting the updated version of the Policy or Privacy Notice on this Site, InstantFix reserves the right to anytime and without prior notice amend or modify this Policy and any Privacy Notice.
             Only once the updated Policy or Privacy Notice has been posted on this Site will these changes apply to the data we already have.
            
            
             By continuing to use this Site after any such modification, you agree to the amended Policy's terms being applied to all information that is collected from or about you. By selecting the "Privacy"
             link found at the bottom of each page in the site's public areas, you can see the most recent version of this Policy at any time. </p>

        <h2 id="38">Information We Collect</h2>
        <p> Information you voluntarily supply. When you use this site, InstantFix gathers the information you manually enter (using your keyboard, mouse, or touchpad). For instance, we gather the data you provide when you send us a service request, indicate a desire to open a franchise, ask us a question, or otherwise interact with this site.
             Your name and contact information are examples of the kinds of personal data you might voluntarily provide.


             Information gleaned from unaffiliated social media sites. You might be able to use information you previously given to a third-party social media platform to have the requested data fields automatically filled out when you sign up, log in, or otherwise modify your profile on this website (such as Facebook or Twitter).
             You are requesting that the third-party platform transmit us data, including personal data from your profile on that platform, by doing this.
              When you register, log in, or edit your profile, we treat that information just like we do any other information you give us.


              Data from Your Device or Browser. Your web browser or mobile device automatically transmits information to InstantFix. Your IP address, the name of your operating system, 
              the name and version of your browser, the date and time of your visit, and the pages you visit are normally included in this data. 


              Your browser or device settings may affect the data we get. Usually, the data your web browser and other device sends to us cannot be used to identify you personally.
               However, we might combine it with other data in an effort to identify you or we might mix it with data that already does. 

               Information gathered through the use of cookies and other technologies. 'Cookies' and other technologies are used by us to support and gather information for some aspects of this website. For instance, we may use these technologies
                to gather data on how users use this site, including which pages they visit, the links they utilise, and how long they spend on each page.

                support the features and functioning of our website, such as saving you from having to re-enter information that is already in our database or reminding you of the preferences you have set on prior visits.
                tailor your online experience while enhancing our marketing initiatives, including the use of targeted advertising.

                Although the data we get through the use of cookies and similar technologies does not in and of itself personally identify you, we may link it to the personal data you voluntarily supply. You can configure your browser to refuse cookies or to notify you when a cookie is stored on your computer if
                 you do not want to receive them. Although you are not needed to accept cookies when visiting this site, if your browser rejects our cookies,  
             
        </p>
        <h2 id="39">Information About Third-Party Cookies</h2>
        <p>In addition to the cookies that InstantFix sends to your computer or mobile device via this Site, other parties may also send you cookies for a number of different purposes. For instance, we employ Google Analytics, a web analytics service, to better comprehend how users interact with our websites.
             Read the Google Analytics definition here to find out more about the tool.

             Other third parties may transmit cookies to your computer or mobile device in order to track your online activities over time and across different websites that are not affiliated with them, as well as in order to display targeted advertising on this Site or on other websites.
             You have options on how third parties may acquire information about you on our websites. For instance, you can download an Opt out Browser Add-on by choosing a browser add-on here if you don't want information about your visit to this Site sent to Google Analytics.
              The Add-on does not stop information from being sent to InstantFix, so please be aware of that.

              Additionally, you can choose collection opt-out here if you'd rather not have specific companies collect interest-based data about your visits to this Site or other websites. You will be taken to a website created by the industry that offers controls for deciding whether each listed organisation may gather and utilise data for online behavioural advertising.

            The easiest approach to prevent third parties from tracking your online habits may be through your browser settings and the deletion of cookies if any of the third parties that collect interest-based information on this Site do not participate in the industry-developed opt-out website. The industry-developed opt-out method is device and browser specific, so please be aware of it. You must follow the above instructions from each device and browser if you don't want participating entities to gather interest-based information about you across all devices and browsers.

            
        </p>
        <h2 id="40">How We Use Your Information </h2>
        <p>The information we gather through this site is generally used to fulfil your requests for information, goods, and services.

            to deliver efficient customer assistance to you.
            to make your use of our site more tailored for you.
            to get in touch with you and send you messages about how to use this site and important notices.
            to get in touch with you with special deals and other information we think you'll find interesting (in accordance with any privacy settings you've let us know).
            to contact you in order to encourage you to take part in surveys and give us feedback (in accordance with any privacy settings you have already stated).
            to enhance this Site's functionality, usability, and content.

                        to better comprehend your requirements and preferences.
            to enhance our services and products.
            help enhance our marketing and advertising initiatives.
            for any other reason specified in an applicable privacy notice, click-through agreement, or other agreement between you and us. for security, credit, or fraud prevention purposes.

           In order to provide services requested through this website, technical infrastructure services, analyse how our services are used, gauge the efficacy of advertisements and services, provide customer service, facilitate payments, or conduct surveys, we transfer customer information to franchisees, service providers, vendors, and other businesses who support our business globally. These businesses are subject to stringent confidentiality
            responsibilities that must be in accordance with this privacy statement and any contracts we may have with them. 

        </p>
        <h2 id="41">How We Share Your Information </h2>
        <p>Utilizing Third-Party Vendors With third-party suppliers that work for us or on our behalf, InstantFix distributes the information it collects through this Site. For instance, we may work with third-party suppliers to create and manage this Site, run surveys, and support our marketing initiatives. To carry out their duties, these third-party providers may require information about you.
            With Other Website Users. On or through this Site, you might be able to submit User-Generated Content.
            User-Generated Content, or "UGC," is defined in this Policy as any content that you publish using the social networking tools we make available to you but that does not qualify as "Feedback" (as that term is 
            defined in our Terms of Use). UGC's User Generated Content (UGC) can be read, gathered,
            or used by others.
            Additionally, we might use the UGC you supply for promotions and other types of advertising. Your name might be mentioned in conjunction with such use, and we might ask for your permission before making such use of the content. Consequently,
             you shouldn't expect any privacy in regards to UGC you post to or transmit 

             using the use of third-party social media platforms. We may include features on this website that enable you to automatically upload data about your activity on it to a third-party social networking network (such as Facebook or Twitter). People who have access to your profile on the third-party platform may be able to view the actions you have made, such as the goods or services you have purchased,
              if you decide to use this option. Therefore, you shouldn't expect any privacy from those actions.

              We might also share the data in your profile with a third-party social media platform if you want to connect your profile on our site with an account there. To provide you with interest-based adverts, we might also use social networking sites operated by third parties. We might transform your email address into a special value that our partner firm can use to match a user on their platform with one of these adverts in order to make it available to you. Although we don't give these
               platform suppliers any personal information, they might learn details about people who interact with the advertising we serve. 

               Within the corporate family of InstantFix. We may provide other businesses in the InstantFix corporate structure with information we have acquired through this Site. These affiliated businesses may use your information for their own marketing initiatives and in any other way that is permitted by this Policy.
               utilising our Franchisees. We might provide our franchisees access to information gathered through this website,
                and they might be allowed to use it for their own marketing efforts and in any other way that complies with this Policy. 

                Together with other, carefully chosen business partners. Your information may occasionally be shared with carefully chosen third parties for their own marketing initiatives. For instance, we might collaborate with other parties to sponsor competitions or other promotions, and we might disclose to those other parties the information you provide to us in order to enter the competition or benefit from the promotion. But first, if required by applicable legislation, we might provide you the chance to "opt out" or "opt in."

            
                De-identified or in aggregate form. We use data gathered from this Site to construct an aggregate picture of usage trends. We might provide aggregate data to such parties so they can comprehend our user base better. We might also divulge de-identified data (also known as "Individualized Data") to third parties regarding how specific users use this site. Individualized Data does not contain personally identifying information, but it does represent a specific Site user's usage habits as opposed to all Site users as a whole.


                In connection with a business transfer. Your information may be given to a successor organisation if, for instance, we sell, give away, or otherwise relinquish control of this Site to another business, merge with another business, or liquidate our assets. If such a transfer takes place, this Policy and any privacy preferences you have communicated to us will continue to apply to the successor organization's use of your information.
                must abide by the law and defend our rights as well as those of others.
            
                When we really believe it is necessary to comply with the law, a court order, or a subpoena, we may share your information. The security of this Site, our online Terms of Use, or other agreements may require us to reveal your information. We may also do so in order to enforce or apply such agreements, defend our own rights and property, or the rights, property, or safety of our users or others.


            According to the terms of a privacy notice or click-through agreement. In accordance with any Privacy Notice posted on a page of this Site where you provide your information, we reserve the right to disseminate your information. You will be giving your consent to the disclosure of your information as outlined in that privacy notice by entering your information on that page.
             Additionally, we reserve the right to distribute your data in accordance with any click-through agreements that you have approved. 

        </p>
        <h2 id="42">How We Protect Your Information</h2>

        <p>To ensure a level of security commensurate with the sensitivity of the data we collect, InstantFix takes reasonable safeguards. The security of information transmitted over the Internet or kept in our databases cannot be guaranteed by us, and we will not be held liable for security breaches that are beyond our reasonable control, even when we take reasonable precautions to assist prevent their use or disclosure.

        </p>
        <h2 id="43">Children's Privacy</h2>
        <p>To use this site with our permission, you must be at least 13 years old. Visitors under the age of 13 are not subject to our knowing collection, use, or disclosure of their personal information. Please don't use this site if you are under the age of 13.

        </p>
        <h2 id="44">Links to Other Websites </h2>
        <p>Only InstantFix-owned websites on which it is posted are covered by this Policy. Numerous websites are run by InstantFix and its affiliates for a variety of purposes and in numerous nations with various legal systems. If you visit a different InstantFix website, please take a time to read the privacy statement there to find out what data may be gathered there and how it will be handled.
            Links to websites not run by InstantFix or its affiliates may also be found on this website.

            These links are solely given for your convenience and reference and do not imply any support for the services offered or content provided by these websites or any affiliation with their owners.
These websites are not within the authority of InstantFix, and we are not accountable for their data policies.

            This Policy does not apply to any information you give to third parties through their websites; instead, those parties' privacy and data collecting policies apply to that information. We strongly advise you to read the privacy statement of any website you visit before using it or submitting any personal data.

             
        </p>
        <h2 id="45">Access to Your Information</h2>
        <p>Please get in touch with us using the details in the section below if you'd like to review, update, or rectify any personal information you've given us through this website. We will respond to your inquiry within a reasonable amount of time or as specified by the relevant privacy law. As required by the relevant law, we shall make a reasonable attempt to comply with your request.

             

        </p>
        <h2 id="46">Retention of Personal Information</h2>

        <p>In accordance with current law, InstantFix only keeps your personal data for as long as it's required to fulfil your requests for the services, goods, and information you requested.

        </p>

        <h2 id="47">Site Servers May Be Located Outside Your Home Country</h2>
        <p>This website is targeted for Indian visitors because InstantFix is an Indian firm. It's possible that the servers supporting this Site and the ones on which we store the data you give us via this Site are situated somewhere other than your country of residence. The regulations governing data protection in India could not offer the same level of security as those in place in certain other nations.

            No matter where we store our data, we will still process your information in accordance with this Policy. By using this site, you agree to the transfer of your information to India if you are located outside of India.

             

        </p>
        <h2 id="48">Governing Law </h2>
        <p>Without respect to any potential conflicts, the laws of India will govern these Terms of Use.
            Without regard to its rules on conflicts of law, the laws of India shall govern this Policy.  

        </p>
        
    </section>
</div>

{% endblock %}