{% extends 'base/main.html' %}
{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/sub/whyus.css' %}"> {% endblock %}
{% block content %}

<div class="yscontainer_main">
    <div class="yscontainer">
        <div class="ys1">
            <div class="ys1sub">
                <h2>Why Us?</h2>
                <h3><a href="">Ac Repairing</a></h3>
                <h3><a href="">Ac Installation</a></h3>
                <h3><a href="">Gas Refilling in airconditioner</a></h3>
                <h3><a href="">Ac servicing</a></h3>
                <h3><a href="">Servecing</a></h3>
                <h3><a href="">Workmanship Parts Guaranteed</a></h3>
                <h3><a href="">Flexible Service Options</a></h3>
                <h3><a href="">Uniformed Professionals</a></h3>
            </div>
        </div>
        <div class="ys2">
            <h1>What we do? </h1>
            <p>We are the best AirConditionr techenicians in Kochi-Ernakulam. 
                We've been providing exceptional installation, repair, and replacement services for 
                all types of <strong>Air Conditionars</strong>,We are based in Kochi and provide services all over 
                Earnakulam.
            </p>
            <!-- <h2>Workmanship Parts Guaranteed</h2> -->
            <p>We are proud to be a trusted company in our cities and always strive to 
                uphold that reputation and respect by delivering superior quality services.
                when you call on us, you can have peace of mind knowing we care about the services we 
                deliver. We stand by the promise to do the job right. We will perform services in a 
                professional, workmanlike manner. If you believe the job was not done right, contact us 
                within 5 days.
           </p>
            <h2> Our Services avilable in :</h2>
            <div class="small_h1">
            
                <h1>Aluava,</h1>
                <h1>Kalamassery,</h1>
                <h1>Edappally,</h1>
                <h1>kaloor,</h1>
                <h1>Vytila,</h1>
                <h1>Kadavanthra,</h1>
                <h1>Ravipuram,</h1>
                <H1>Thevara,</H1>
                <h1>Menaka,</h1>
                <h1>Fort Kochi,</h1>
                <h1>Chittoor,</h1>
                <h1>Vadathala,</h1>
                <h1>Vennala,</h1>
                <h1>Kakkanad,</h1>
                <h1>Thripunithara,</h1>
                <h1>Kundannoor,</h1>
                <h1>Vypin,</h1>
                <h1>Mulavukad,</h1>
                <h1>Elamaviara,</h1>
                <h1>Thammanam,</h1>
                <h1>Varapuzha,</h1>
                <h1>Angamali,</h1>
                <h1>Maradu</h1>
                <style>
                    .small_h1>h1{
                        font-size: 20px;
                    }
                </style>
            </div>
            <h1>Ac Repairing</h1>
            <p>Many air conditioners can last more than twenty years.
                Similarly, many units have a short lifespan of ten years.
                Every AC needs to be serviced by a good AC repair service to
                 keep it in good shape.</p>


            <h1>Ac Installation</h1>
            <p>Installing an AC can be a complicated process. 
                Having a professional install your AC will ensure that 
                it is installed properly. InstantFix have trained 
                professionals for this purpose. 
                </p>
            <h1>Ac servicing</h1>
            <p>Without proper maintenance, your air conditioner is more likely 
                to lose about 5 percent of its overall efficiency annually. 
                We provide the best Professionals for this
            </p>
            <h1>Ac Gas Filling</h1>
                <p>The Process of refilling AC gas is a bit complicated.
                    Always hire a professional technician to replace your ac gas
                </p>
            
            <h2>Uniformed Professionals</h2>
            <p> You can expect uniformed professionals who are friendly, courteous,
                respectful, skilled, and knowledgeable. we show up on time, ready to get to work
                in our clean, orderly uniforms. You won't have to doubt who's at 
                the door when you see our smiling serviceman prepared to get the job done.
                
                
            </p>

        </div>

    </div>
</div>

{% endblock %}