{% extends 'base/main.html' %}
{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/sub/whyus.css' %}"> {% endblock %}
{% block content %}

<div class="yscontainer_main">
    <div class="yscontainer">
        <div class="ys1">
            <div class="ys1sub">
                <h2>Why Us?</h2>
                <h3><a href="">Ac Repairing</a></h3>
                <h3><a href="">Ac Installation</a></h3>
                <h3><a href="">Gas Refilling in airconditioner</a></h3>
                <h3><a href="">Ac servicing</a></h3>
                <h3><a href="">Servecing</a></h3>
                <h3><a href="">Workmanship Parts Guaranteed</a></h3>
                <h3><a href="">Flexible Service Options</a></h3>
                <h3><a href="">Uniformed Professionals</a></h3>
            </div>
        </div>
        <div class="ys2">
            <h1>What we do? </h1>
            <p>We are the best AirConditionr techenicians in Kochi-Ernakulam. 
                We've been providing exceptional installation, repair, and replacement services for 
                all types of <strong>Air Conditionars</strong>,We are based in Kochi and provide services all over 
                Earnakulam.
            </p>
            <!-- <h2>Workmanship Parts Guaranteed</h2> -->
            <p>We take great pride in the fact that our cities have come to rely on us, and we work hard to maintain that status by providing top-notch services.
                You can call us with confidence knowing that we genuinely care about the services we provide. We will keep our word and complete the task properly. We promise to carry out tasks with professionalism and craftsmanship. Contact us within five days if you think the job was not completed properly.

           </p>
            <h2> Our Services avilable in :</h2>
            <div class="small_h1">
            
                <h1>Aluava,</h1>
                <h1>Kalamassery,</h1>
                <h1>Edappally,</h1>
                <h1>kaloor,</h1>
                <h1>Vytila,</h1>
                <h1>Kadavanthra,</h1>
                <h1>Ravipuram,</h1>
                <H1>Thevara,</H1>
                <h1>Menaka,</h1>
                <h1>Fort Kochi,</h1>
                <h1>Chittoor,</h1>
                <h1>Vadathala,</h1>
                <h1>Vennala,</h1>
                <h1>Kakkanad,</h1>
                <h1>Thripunithara,</h1>
                <h1>Kundannoor,</h1>
                <h1>Vypin,</h1>
                <h1>Mulavukad,</h1>
                <h1>Elamaviara,</h1>
                <h1>Thammanam,</h1>
                <h1>Varapuzha,</h1>
                <h1>Angamali,</h1>
                <h1>Maradu</h1>
                <style>
                    .small_h1>h1{
                        font-size: 20px;
                    }
                </style>
            </div>
            <h1>Ac Repairing</h1>
                <p>Many air conditioners have a 20+ year lifespan.
                Similar to this, many units only last ten years on average.
                To keep an AC in good working order, it must be serviced by a reliable AC repair company.
                </p>


            <h1>Ac Installation</h1>
            <p>The process of installing an AC might be challenging.
                Your AC will be installed correctly if you hire a professional to do it. For this, InstantFix has trained personnel.
             
                </p>
            <h1>Ac servicing</h1>
            <p>Your air conditioner is more likely to lose roughly 5% of its total efficiency yearly without adequate maintenance.
                We offer the most competent professionals for this.
            </p>
            <h1>Ac Gas Filling</h1>
                <p>The procedure for refuelling AC gas is a little challenging.
                    To replace your ac gas, always use a qualified technician

                </p>
            
            <h2>Uniformed Professionals</h2>
            <p> You may anticipate nice, polite, respectful, skilled, and informed uniformed professionals.
                 We arrive on time, dressed neatly and efficiently for work. When you see our cheerful serviceman
                  standing at the door, ready to do the job, you won't need to question who is there.
                
                
            </p>

        </div>

    </div>
</div>

{% endblock %}