{% extends 'base/main.html' %}
{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/sub/whyus.css' %}"> {% endblock %}
{% block content %}

<div class="yscontainer_main">
    <div class="yscontainer">
        <div class="ys1">
            <div class="ys1sub">
                <h2>Why Us?</h2>
                <h3><a href="#1">Workmanship Parts Guaranteed</a></h3>
                <h3><a href="#2">Exceptional Customer Service</a></h3>
                <!-- <h3><a href="">Locally Owned And Operated </a></h3> -->
                <h3><a href="#3">Never an Overtime Charge</a></h3>
                <h3><a href="#4">Upfront pricing</a></h3>
                <h3><a href="#5">Convenient Appointment Times</a></h3>
                
                <h3><a href="#6">Flexible Service Options</a></h3>
                <h3><a href="#7">Uniformed Professionals</a></h3>
            </div>
        </div>
        <div class="ys2">
            <h1>Why InstantFix?  </h1>
            <h2 id="1">Workmanship Parts Guaranteed</h2>
            <p>We stand by the promise to do the job right. We perform
                services in a professional, workmanlike manner.
                If you belive the job was not done right, contact 
                us within 5 days

            </p>
            <h2 id="2">Exceptional Customer Service</h2>
            <ul>
                <li>We leave your home as clean as we found it.</li>
                <li>We treat you respectfully.</li>
                <li>We are available for emergency services, even nights and weekends!</li>
                <li>We work around your schedule.</li>
                <li>We provide upfront pricing.</li>
            </ul>
            <h2 id="3">Never an Overtime Charge</h2>
            <p> We charge the same price any time, any day. That means
                you can call on us on Friday night,
                Saturday afternoon, or Sunday evening-without worrying 
                about any overtime fees.
            
            </p>
            <h2 id="4">Upfront pricing</h2>
            <p>You get to agree to a price before we start any work,
                keeping you in control of your own Repairing system. You can also be
                confident knowing that our Mecanic
                explain what services they are going to perform-prior to starting the job.
               
            </p>
            <h2 id="5">Convenient Appointment Times</h2>
            <p>
                convenient appointment times that can be worked around your schedule!
                 When you call on instantFix, 
                you get a scheduled appointment time, meaning you can plan your day accordingly and rest assured.
            </p>
            <h2 id="6">Flexible Service Options</h2>
            <p>You want it fixed quickly and professionally, but you don't 
                want to feel like you're being taken advantage of. We make sure to give you 
                options, so you can decide what's right for you.
                 We bring the expertise, but you’re in control.
            </p>
            <h2 id="7">Uniformed Professionals</h2>
            <p> You can expect uniformed professionals who are friendly, courteous,
                respectful, skilled, and knowledgeable. we show up on time, ready to get to work
                in our clean, orderly uniforms. You won't have to doubt who's at 
                the door when you see our smiling serviceman prepared to get the job done.
                
                
            </p>

        </div>

    </div>
</div>

{% endblock %}